# Supabase PostgreSQL - pooler (IPv4, compatible Railway/Vercel/Render)
DB_HOST=aws-0-eu-central-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.unwgionfobojsvrefcsn
DB_PASSWORD=mets_ici_le_mot_de_passe_db_supabase

# API
JWT_SECRET=remplace_par_un_secret_long_et_aleatoire
PORT=3000
